<h1>Recipes</h1>
<div *ngFor="let recipe of recipes">
  <app-ingredient
    [name]="recipe.name"
    [quantity]="recipe.outProductNb"
  ></app-ingredient>
  {{ recipe.outProductNb }} <b>{{ recipe.name }}</b> {{ '<< ' }}
  {{ recipe.building }} {{ '<< ' }}
  <ng-container *ngFor="let inProduct of recipe.ingredients | keyvalue">
    {{ inProduct.value }} {{ inProduct.key }};</ng-container
  >
</div>

<h1>Summary</h1>
<h2>
  <ng-container *ngFor="let netProduct of netProducts | keyvalue">
    {{ netProduct.value }} {{ netProduct.key }};</ng-container
  >
</h2>
<div *ngFor="let product of products | keyvalue">
  {{ product.value }} {{ product.key }} ({{
    getBuilder(product.key, product.value).nb
  }}
  {{ getBuilder(product.key, product.value).name }})
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
